.bookComment{
  .bookComment-top {
    position: fixed;
    top: 0;
    height: 100px;
  }
  .bookComment-body {
    height: 100%;
    padding: 100px 0 50px 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .bookComment-bottom {
    position: fixed;
    bottom: 0;
    height: 50px;
  }
}